.accordion {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  border: none;
  outline: none;
  margin: 10px 0;
  transition: 1s ease;
  position: relative;
  z-index: 3;
  height: 20px;
}

.p {
  transition: 1s ease;
  margin: 0 auto;
  top: -50px;
  position: relative;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.active-p {
  transition: 0.4s ease-in;
  visibility: visible;
  top: -10px;
  margin: 0 auto;
  position: relative;
  opacity: 1;
  display: flex;
  transform: translateY(0%);
}

.cont-p {
  width: 90%;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.active-cont-p {
  transition: 1s ease;
  opacity: 1;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  overflow: visible;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1055px) {
  .accordion {
    width: 80%;
  }

  .active-cont-p {
    margin: 20px;
    width: 80%;
  }

  .cont-p {
    width: 80%;
    margin: 0;
  }
}

@media only screen and (max-width: 544px) {}