.order-item {
  margin: 20px 0;
  width: 350px;
}
.item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1px 1px 1px;
}
.item-picture {
  width: 350px;
  height: 380px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}
.item-picture:hover {
  transform: scale(1.01);
}
.item-name {
  color: var(--price-color);
  font-size: 26px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}
.item-price {
  color: var(--price-color);
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 0 1px;
  font-family: "Cormorant Garamond", serif;
}
.item-like {
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/heart-love-like-likes-loved-favorite-512.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.item-like:hover {
  opacity: 0.8;
}
.item-like-active:hover {
  opacity: 0.8;
}
.item-like-active {
  background-image: url("https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-512.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .order-item {
    width: 300px;
  }
  .item-picture {
    width: 300px;
    height: 360px;
  }
}

@media only screen and (max-width: 992px) {
  .order-item {
    width: 250px;
  }
  .item-picture {
    width: 250px;
    height: 320px;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
