.feedback-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.feedback-form-container {
  width: 45%;
}

.feedback-form-title {
  color: var(--price-color);
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form-input {
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid var(--price-color);
  border-radius: 15px;
}

.bg {
  padding-top: 0px;
  height: 50px;
}

.feedback-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--price-color);
  color: white;
  border-radius: 25px;
  font-size: 12px;
  width: 35%;
  cursor: pointer;
  border: 1px solid var(--price-color);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.feedback-form-button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.image-container {
  width: 50%;
  height: 320px;
  background-image: url("https://nimble-needles.com/wp-content/uploads/2021/12/a-couple-of-easy-projects-for-knitting-beginners-e1639654555354.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 992px) {
  .feedback-form-button {
    width: 45%;
  }
}

@media only screen and (max-width: 829px) {
  .image-container {
    display: none;
  }

  .feedback-form-container {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 571px) {
  .feedback-form-container {
    width: 70%;
  }

  .feedback-form-title {
    text-align: center;
  }

  .feedback-form-button {
    width: 60%;
  }
}



@media only screen and (max-width: 452px) {
  .feedback-form-container {
    width: 90%;
  }

  .feedback-form-input {
    font-size: 10px;
  }
}