.cont {
  height: 400px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.variable-width-img {
  background-size: contain;
  width: 1120px;
  height: 400px;
  /* height: 50vh; */
}

@media only screen and (max-width: 1023px) {

  .slider-for-home {
    display: flex;
    justify-content: center;
  }

  .variable-width {
    width: 920px;
  }

  .variable-width-img {
    width: 1020px;
  }
}

@media only screen and (max-width: 950px) {
  .variable-width {
    width: 820px;
  }

  .variable-width-img {
    width: 820px;
    height: 350px;
  }

  .cont {
    height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  .variable-width {
    width: 760px;
  }

  .variable-width-img {
    width: 760px;
    height: 320px;
  }

  .cont {
    height: 320px;
  }
}

@media only screen and (max-width: 810px) {
  .variable-width {
    width: 720px;
  }

  .variable-width-img {
    width: 720px;
    height: 300px;
  }

  .cont {
    height: 300px;
  }
}

@media only screen and (max-width: 769px) {
  .variable-width {
    width: 680px;
  }

  .variable-width-img {
    width: 680px;
    height: 280px;
  }

  .cont {
    height: 280px;
  }
}

@media only screen and (max-width: 729px) {
  .variable-width {
    width: 650px;
  }

  .variable-width-img {
    width: 650px;
    height: 260px;
  }

  .cont {
    height: 260px;
  }
}

@media only screen and (max-width: 698px) {
  .variable-width {
    width: 600px;
  }

  .variable-width-img {
    width: 600px;
    height: 240px;
  }

  .cont {
    height: 240px;
  }
}

@media only screen and (max-width: 649px) {
  .variable-width {
    width: 550px;
  }

  .variable-width-img {
    width: 550px;
    height: 220px;
  }

  .cont {
    height: 220px;
  }
}

@media only screen and (max-width: 598px) {
  .variable-width {
    width: 500px;
  }

  .variable-width-img {
    width: 500px;
    height: 200px;
  }

  .cont {
    height: 200px;
  }
}

@media only screen and (max-width: 550px) {
  .variable-width {
    width: 450px;
  }

  .variable-width-img {
    width: 450px;
    height: 185px;
  }

  .cont {
    height: 185px;
  }
}

@media only screen and (max-width: 498px) {
  .variable-width {
    width: 400px;
  }

  .variable-width-img {
    width: 400px;
    height: 165px;
  }

  .cont {
    height: 165px;
  }
}

@media only screen and (max-width: 453px) {


  .variable-width {
    width: 350px;
  }

  .variable-width-img {
    width: 350px;
    height: 145px;
  }

  .cont {
    height: 145px;
  }
}

@media only screen and (max-width: 395px) {


  .variable-width {
    width: 300px;
  }

  .variable-width-img {
    width: 300px;
    height: 125px;
  }

  .cont {
    height: 125px;
  }
}

@media only screen and (max-width: 350px) {


  .variable-width {
    width: 280px;
  }

  .variable-width-img {
    width: 280px;
    height: 105px;
  }

  .cont {
    height: 105px;
  }
}

@media only screen and (max-width: 330px) {


  .variable-width {
    width: 260px;
  }

  .variable-width-img {
    width: 260px;
    height: 105px;
  }

  .cont {
    height: 105px;
  }
}