.session-container {
  padding: 40px 0px;
}

.session-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skelet {
  width: 350px;
  height: 380px;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--base-color);
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  z-index: 1;
}

.item-session-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  justify-items: center;
}

.session-title {
  color: var(--price-color);
  font-size: 26px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}

.session-button {
  font-family: "Cormorant Garamond", serif;
  padding: 8px 25px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: black;
}

.session-button a {
  color: black;
}

.session-button-icon {
  padding: 0 0 0 10px;
  width: 24px;
  height: 24px;
}

.session-button:hover a {
  color: white;
}

.session-button:hover {
  color: white;
}

.session-button:hover {
  background-color: black;
}

.session-button:hover .session-button-icon {
  filter: invert(1);
}

@media only screen and (max-width: 1374px) {
  .skelet {
    width: 330px;
    height: 467px;
  }
}

@media only screen and (max-width: 1200px) {
  .skelet {
    width: 287px;
    height: 360px;
  }
}

@media only screen and (max-width: 1091px) {
  .item-session-container {
    grid-column-gap: 15px;
  }
}

@media only screen and (max-width: 1055px) {
  .item-session-container {
    grid-column-gap: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .skelet {
    width: 265px;
    height: 320px;
  }
}

@media only screen and (max-width: 815px) {
  .skelet {
    width: 230px;
    height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .skelet {
    width: 200px;
    height: 260px;
  }
}

@media only screen and (max-width: 662px) {
  .skelet {
    width: 180px;
    height: 240px;
  }
}

@media only screen and (max-width: 600px) {
  .skelet {
    width: 160px;
    height: 240px;
  }
}

@media only screen and (max-width: 539px) {
  .item-session-container {
    grid-column-gap: 7px;
  }
}

@media only screen and (max-width: 528px) {
  .session-title {
    font-size: 20px;
  }

  .session-button {
    font-size: 12px;
    padding: 4px 15px;
  }

  .skelet {
    width: 145px;
    height: 220px;
  }
}

@media only screen and (max-width: 480px) {
  .item-session-container {
    overflow: hidden;
    width: 98.3%;
  }

  .skelet {
    width: 220px;
    height: 280px;
  }

  .session-title {
    font-size: 20px;
  }

  .session-container {
    padding: 0px;
    margin: 20px 0 50px;
  }

  .session-button {
    font-size: 12px;
    padding: 4px 15px;
  }

  @media only screen and (max-width: 423px) {
    .skelet {
      width: 180px;
      height: 250px;
    }

    .item-session-container {
      width: 92%;
    }
  }

  @media only screen and (max-width: 407px) {
    .session-title {
      font-size: 16px;
    }

    .session-button {
      padding: 2px 10px;
      font-size: 10px;
    }

    .session-button-icon {
      width: 20px;
      height: 20px;
    }

    .item-session-container {
      overflow: hidden;
      width: 95%;
    }
  }

  @media only screen and (max-width: 380px) {
    .item-session-container {
      overflow: hidden;
      width: 100%;
    }

    .skelet {
      width: 95px;
      height: 140px;
    }
  }

  @media only screen and (max-width: 330px) {
    .item-session-container {
      grid-column-gap: 5px;
    }

    .session-title {
      font-size: 14px;
    }
  }
}