.order-section {
  width: 100%;
  margin: 0 auto;
}

.order-section--title {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  text-align: center;
  color: var(--main-br-color);
  font-family: "Cormorant Garamond", serif;
  font-size: 34px;
}

.content-order {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.category-item {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px
}

.category-item-active {
  background-color: gray;
}

.category-item:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .order-section--title {
    width: 80%;
    margin: 0 auto;
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
  }

  .content-order {
    width: 97%;
  }

  .category-container {
    width: 90%;

    padding: 0;
    margin: 0 auto;

  }

  .category-item {
    font-size: 8px;
  }
}

@media only screen and (max-width: 397px) {

  .order-section--title {
    width: 90%;
  }
}

@media only screen and (max-width: 383px) {
  .content-order {
    width: 100%;
  }
}

@media only screen and (max-width: 379px) {
  .content-order {
    width: 97%;
  }

  .order-section--title {
    width: 95%;
  }
}

@media only screen and (max-width: 320px) {
  .order-section--title {
    font-size: 20px;
  }


}