.title-section {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  width: 80%;
  min-height: calc(100vh - 110px - 180px);
}

@media only screen and (max-width: 1207px) {
  .title-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1048px) {
  .title-section {
    width: 95%;
  }
}

@media only screen and (max-width: 992px) {
  .title-section {
    width: 90%;
    min-height: calc(100vh - 110px - 165px);
  }
}

@media only screen and (max-width: 882px) {
  .title-section {
    width: 95%;
  }
}

@media only screen and (max-width: 834px) {
  .title-section {
    width: 97%;
    padding: 30px 0 30px 0;
    min-height: calc(100vh - 110px - 65px);
  }
}

@media only screen and (max-width: 480px) {
  .title-section {
    min-height: calc(100vh - 130px);
  }
}

@media only screen and (max-width: 322px) {
  .title-section {
    width: 98%;
    padding: 20px 0;
    min-height: calc(100vh - 170px);
  }
}