.slider-container {
  /* display: grid;
  grid-template-columns: 75px 450px 75px; */
  /* grid-template-rows: 1fr;
  grid-column-gap: 13px; */
  /* align-items: center;
  justify-content: center; */
  /* grid-row-gap: 0px;
  width: 600px; */
}

.window {
  max-height: 600px;
  max-width: 100%;

  overflow: hidden;
  position: relative;
  z-index: 2;
}

.all-pages-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.slider-button-svg {
  width: 25px;
  height: 25px;
}

.left-button {
  top: 50%;
  /* left: 19vw; */
  z-index: 3;
  transform: rotate(180deg);
}

.right-button {
  /* left: 550px; */
  margin-left: 400px;
  top: 50%;
  z-index: 3;
}

.button:hover {
  opacity: 0.7;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .window {
    max-width: 350px;
    height: 460px;
  }

  .right-button {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .right-button {
    margin-left: 265px;
  }
}