.order-item {
  margin: 20px 0;
  width: 350px;
}
.item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1px 10px 1px;
}
.item-picture {
  width: 350px;
  height: 380px;
  object-fit: cover;
  margin-bottom: 10px;
}
.item-name {
  color: var(--price-color);
  font-size: 16px;
  font-weight: 600;
}
.item-price {
  color: var(--price-color);
  font-size: 20px;
  font-weight: 800;
  padding: 0 0 0 1px;
}
.item-like {
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/heart-love-like-likes-loved-favorite-512.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.item-like:hover {
  opacity: 0.8;
}
.item-like-active:hover {
  opacity: 0.8;
}
.item-like-active {
  background-image: url("https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-512.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal-container {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}
