:root {
  --main-bg-color: #c19080;
  --main-br-color: #74635e;
  --header-color: #eee2df;
  --price-color: #432818;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  border: 2px solid var(--price-color);
  border-radius: 20px;
}
a {
  text-decoration: none;
}

.title-section--title {
  color: var(--main-bg-color);
}
.subtitle-sub {
  color: var(--main-br-color);
}
.title-section--subtitle {
  grid-area: subtitle;
}
