.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-container {
  /* padding: 0 40px 40px 40px; */
  border-radius: 12px;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.slider-img {
  max-width: 450px;
  background-repeat: no-repeat;
  border-radius: 12px 0px 0 12px;
  background-size: contain;
  background-position: center;
  height: 600px;
}

.button {
  display: none;
  position: absolute;
}

.slider-container {
  max-width: 450px;
}

.slider-container:hover .button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  border-radius: 100%;

  background-color: white;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal-description-container {
  padding: 20px 40px;
}

.modal-title {
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}

.modal-price {
  font-size: 1.4em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  padding: 20px 0;
}

.modal-description {
  font-family: "EB Garamond", serif;
  font-size: 1.4em;
  /* font-weight: 700; */
  text-align: justify;
  color: var(--price-color);
}
.modal-button-order {
  margin: 0 auto;
  margin-top: 50px;
  width: 250px;
  height: 50px;
  background-color: var(--price-color);
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--price-color);
  align-items: center;
}

.modal-button-order:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.close-modal-icon {
  width: 24px;
  height: 24px;
}

.modal-content-container {
  display: flex;
  flex-direction: column;
}
.close-modal-container {
  width: 95%;
  display: flex;
  justify-content: end;
}
.close-modal {
  display: flex;
  padding-top: 25px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.close-modal:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media only screen and (max-width: 1406px) {
  .modal-container {
    width: 77%;
  }
}
@media only screen and (max-width: 1276px) {
  .modal-description-container {
    padding: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .modal-container {
    width: 80%;
  }
  .modal-description-container {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 1159px) {
  .modal-button-order {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1128px) {
  .modal-container {
    width: 90%;
  }
}

@media only screen and (max-width: 1004px) {
  .close-modal {
    padding-top: 6px;
  }
}

@media only screen and (max-width: 992px) {
  .modal-container {
    width: 80%;
  }
  .modal-description-container {
    padding: 8px;
  }
  .close-modal {
    left: 86%;
    padding-top: 5px;
  }
  .modal-description {
    font-size: 1em;
  }
  .slider-img {
    max-width: 350px;
    height: 466px;
  }
}

@media only screen and (max-width: 885px) {
  .modal-price {
    padding: 10px 0;
  }
  .modal-container {
    width: 85%;
  }
}

@media only screen and (max-width: 800px) {
  .modal-button-order {
    width: 180px;
    height: 35px;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .close-modal {
    padding-top: 10px;
  }
  .modal-title {
    font-size: 1.2em;
  }
  .modal-price {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .modal-description {
    font-size: 0.9em;
  }
  .modal-button-order {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 729px) {
  .modal-container {
    width: 95%;
  }
}

@media only screen and (max-width: 640px) {
  .window {
    height: 400px;
  }
  .slider-container {
    max-width: 300px;
  }
  .slider-img {
    height: 400px;
    max-width: 300px;
  }
  .right-button {
    margin-left: 260px;
  }
  .slider-container:hover .button {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 636px) {
  .modal-button-order {
    margin-top: 5px;
  }
  .close-modal {
    padding: 0px;
  }
  .modal-description-container {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-button-order {
    width: 140px;
    height: 30px;
  }
  .close-modal-container {
    margin-top: 5px;
  }
  .close-modal {
    width: 25px;
    height: 25px;
  }
  .close-modal-icon {
    width: 18px;
    height: 18px;
  }
  .modal-price {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 568px) {
  .modal-container {
    flex-direction: column;
    width: 70%;
    height: 90%;
  }
  .close-modal-container {
    z-index: 3;
    width: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
  }
  .window {
    height: 350px;
  }
}
@media only screen and (max-width: 480px) {
  .modal {
    z-index: 2;
  }
  .slider-container {
    width: 400px;
  }
  .slider-img {
    border-radius: 12px 12px 0 0;
    height: 300px;
    max-width: 400px;
  }
  .modal-container {
    width: 400px;
    margin-top: 5px;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 5px;
  }
  .window {
    height: 300px;
    max-width: 400px;
  }
  .modal {
    overflow: auto;
    /* align-items: start; */
    padding-top: 10px;
  }
  .modal-content-container {
    max-width: 400px;
    height: 300px;
  }
  .close-modal {
    padding: 0;
    /* width: 25px; */
    top: -275px;
    z-index: 3;
  }
  .button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border-radius: 100%;

    background-color: white;
  }
}
@media only screen and (max-width: 320px) {
  .modal-title {
    font-size: 1.1em;
  }
  .modal-price {
    padding: 5px 0px;
  }
  .modal-container {
    width: 315px;
    height: max-content;
    overflow: auto;
  }
  .slider-container {
    width: 315px;
  }
  .slider-img {
    max-width: 315px;
    /* background-position: top; */
    height: 400px;
    background-size: cover;
    /* background-position: center; */
  }
  .window {
    height: 400px;
  }
  .modal-button-order {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }
  .modal-description {
    font-size: 0.85em;
  }
  .modal-description-container {
    padding: 0px 4px 8px 4px;
  }
  .close-modal {
    top: -390px;
  }
}
