@media only screen and (max-width: 1055px) {
  .helpful-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 544px) {
  .helpful-h1 {
    font-size: 24px;
  }
}
